---
import MainLayout from '../layouts/main.astro';
---

<MainLayout>
	<section class="flex flex-col items-center justify-center py-16 text-center">
		<h1 class="text-5xl font-bold tracking-tight mb-6">AI-augmented Secure Software Development</h1>
		<p class="text-xl text-muted-foreground max-w-3xl">
			Advancing secure software development using AI-powered tools and methodologies
			<br />
			<br />
		</p>
		<p class="text-l text-muted-foreground max-w-3xl"></p>
			AI-SSD aims to incorporate AISE into quality assurance processes, demonstrating that it can significantly enhance the ability to ensure software quality, with a focus on code dependability, and security. This vision aligns with market trends, such as the Linux Foundation's 2023 survey, which identified quality assurance as the top area for applying open-source generative AI (GenAI). Despite its promise, GenAI for software quality assurance is still an open research field.
			<br />
			<br />
			This project will devise and develop novel GenAI-based techniques for code dependability during both the development and validation phases, such as code patching and test case definition. These techniques will be developed to be integrated within an AI-augmented DevOps framework, ultimately demonstrating that AISE can enable a tight integration of security within automation pipelines thus allowing for high-quality software under complex and dynamic requirements. We will leverage large C/C++ open-source projects that will be used to validate the AI-SSD contributions, showcasing the benefits of AISE in real-world scenarios.
		</p>
	</section>
</MainLayout> 