---
import { Card, CardHeader, CardTitle, CardContent } from '@/components/ui/card';
import MainLayout from '../../layouts/main.astro';
---
<MainLayout content={{ title: 'Acknowledgements & Logos | AI-augmented Secure Software Development' }}>
    <section class="container mx-auto py-8">
        <div class="space-y-12">
            <h1 class="text-4xl font-bold mb-8">Acknowledgements & Logos</h1>
            <div>
                <h2 class="text-2xl font-semibold mb-4">Acknowledgements</h2>
                <p class="text-lg">
                  "..."
                </p>
                <br>
                <p>
                  ...
                </p>
              </div>
        </div>
        <br/>
        <div>
            <h2 class="text-2xl font-semibold mb-4">Logos</h2>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-3">
                <Card className="p-6 justify-center">
                  <CardHeader>
                    <CardTitle className="text-xl font-medium">Group Logo</CardTitle>
                  </CardHeader>
                  <CardContent>
                    <p><a href="https://drive.google.com/file/d/1UJuRt_r7stm6nzzAzekhMRm3r-XbcR-g/view?usp=sharing">Link</a></p>
                  </CardContent>
                </Card>
              </div>
        </div>
    </section>
</MainLayout>