---
import { Card, CardHeader, CardTitle, CardContent } from '@/components/ui/card';
import MainLayout from '../../layouts/main.astro';
---
<MainLayout content={{ title: 'Acknowledgements & Logos | AI-augmented Secure Software Development' }}>
    <section class="container mx-auto py-8">
        <div class="space-y-12">
            <h1 class="text-4xl font-bold mb-8">Acknowledgements & Logos</h1>
            <div>
                <h2 class="text-2xl font-semibold mb-4">Acknowledgements</h2>
                <p class="text-lg">
                  "This work was partially supported by "Projeto n.º 2024.07660.IACDC, https://doi.org/10.54499/2024.07660.IACDC, apoiado pela medida “RE-C05-i08.M04 – “Apoiar o lançamento de um programa de projetos de I&D orientado para o desenvolvimento e implementação de sistemas avançados de cibersegurança, inteligência artificial e ciência de dados na administração pública, bem como de um programa de capacitação científica”, do Plano de Recuperação e Resiliência – PRR, enquadrado no contrato de financiamento celebrado entre a Estrutura de Missão Recuperar Portugal (EMRP) e a Fundação para a Ciência e a Tecnologia I.P. (FCT), enquanto beneficiário intermediário."
                </p>
                <br>
                <p>
                  Note: the most recent version of the Acknowledgments can always be found here: <a href="https://drive.google.com/file/d/13RhhbBk_dX0iPCKj3pD-XtRZB6BMvRZd/view?usp=share_link">LINK</a> 
                </p>
              </div>
        </div>
        <br/>
        <div>
            <h2 class="text-2xl font-semibold mb-4">Logos</h2>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-3">
                <Card className="p-6 justify-center">
                  <CardHeader>
                    <CardTitle className="text-xl font-medium">Group Logo with text</CardTitle>
                  </CardHeader>
                  <CardContent>
                    <p><a href="https://drive.google.com/file/d/1eFXgLQq9ihW-kQ-SgdscAxW5Ea6gbdIm/view?usp=drive_link">LINK</a></p>
                  </CardContent>
                </Card>
                <Card className="p-6 justify-center">
                  <CardHeader>
                    <CardTitle className="text-xl font-medium">Group Logo without text</CardTitle>
                  </CardHeader>
                  <CardContent>
                    <p><a href="https://drive.google.com/file/d/1byuTDk0kwGXW7LJnBcqrdDTQCfLJT-Zp/view?usp=drive_link">LINK</a></p>
                  </CardContent>
                </Card>
                <Card className="p-6 justify-center">
                  <CardHeader>
                    <CardTitle className="text-xl font-medium">Sponsor Logos</CardTitle>
                  </CardHeader>
                  <CardContent>
                    <p><a href="https://drive.google.com/file/d/13QcFbmeeXREYk_g_qnflhygfEQHCElmA/view?usp=drive_link">LINK</a></p>
                  </CardContent>
                </Card>
              </div>
        </div>
    </section>
</MainLayout>