---
import { Publication } from '@/components/Publication';
import MainLayout from '../../layouts/main.astro';
---

<MainLayout content={{ title: 'Scientific Publications | AI-augmented Secure Software Development' }}>
  <section class="container mx-auto py-8">
    <h1 class="text-4xl font-bold mb-8">Scientific Publications</h1>
    
    <div class="space-y-8">
      <!-- Year Section -->
      <div>
        <h2 class="text-2xl font-semibold mb-4">2026</h2>
        <div class="space-y-6">
          <!-- Publication Item -->
          <!-- <Publication
          title="Benchmarking Large Language Models for Code Generation"
          authors={["Rodrigo Pato Nogueira"]}
          abstract="Large Language Models (LLMs) have become increasingly popular for text-to-code generation, a task which involves converting natural language descriptions into code. While they have shown promising results, challenges remain with more complex problems and less common programming languages, highlighting the need for robust and systematic benchmarks. Without such benchmarks, there is a risk of misrepresenting LLMs capabilities and relying on tools that may not perform as expected. Existing benchmarks have several limitations, such as incomplete metrics, small datasets, a focus on a single programming language, and a lack of clear methodology. These shortcomings make it difficult to compare models effectively and limit the benchmarks' ability to expand to cover important aspects such as dependability and security. This work introduces a systematic benchmarking framework to evaluate LLMs on text-to-code tasks. The framework considers the need for diverse problems, multiple evaluation metrics, and supports setups like few-shot learning, aiming to provide meaningful insights into LLMs performance and their applicability in real-world programming scenarios."
          venue='EDCC 2025'
          link="https://ieeexplore.ieee.org/abstract/document/11144864"
          code=""
          pdf="https://ieeexplore.ieee.org/stamp/stamp.jsp?tp=&arnumber=11144864"
          /> -->
      </div>
    </div>
  </section>
</MainLayout> 
